apiVersion: apps/v1
kind: Deployment
metadata:
  name: logstash
  namespace: wallstreetbuddy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: logstash
  template:
    metadata:
      labels:
        app: logstash
    spec:
      containers:
      - name: logstash
        image: docker.elastic.co/logstash/logstash:8.11.0
        ports:
        - containerPort: 5044
        - containerPort: 9600
        env:
        - name: LS_JAVA_OPTS
          value: "-Xmx256m -Xms256m"
        resources:
          requests:
            cpu: 100m
            memory: 768Mi
          limits:
            cpu: 300m
            memory: 1Gi
        volumeMounts:
        - name: logstash-pipeline
          mountPath: /usr/share/logstash/pipeline
        - name: logstash-config
          mountPath: /usr/share/logstash/config
      volumes:
      - name: logstash-pipeline
        configMap:
          name: logstash-pipeline
      - name: logstash-config
        configMap:
          name: logstash-config
---
apiVersion: v1
kind: Service
metadata:
  name: logstash
  namespace: wallstreetbuddy
spec:
  ports:
  - name: beats
    port: 5044
    targetPort: 5044
  - name: monitoring
    port: 9600
    targetPort: 9600
  selector:
    app: logstash